p {
    text-align: center;
    color: red;

}
body {
    background: red;
    font-family: Arial,Helvetica, sans-serif;
}
#header {
    color: red;
}
.projects {
    background:#16034b #16034b 

}
.about {

    text-align: center;
    color: #16034b;
}

